In [7]:
numero = -10
idade = 18 
preco_de_casa = 500.99

In [10]:
type(preco_de_casa)

float

In [14]:
dicionario = {'id':1,"Nome": "wladson", "Salario": 1590.98}

In [16]:
print(dicionario)

{'id': 1, 'Nome': 'wladson', 'Salario': 1590.98}

In [20]:
dicionario['id']

1

In [32]:
dicionario['Nome'] = 'Joao'

In [33]:
dicionario['Nome']

'Joao'

In [27]:
dicionario['SObrenome'] = 'da Silva'

In [35]:
dicionario

{'Nome': 'Joao', 'SObrenome': 'da Silva', 'Salario': 1590.98, 'id': 1}

In [36]:
tupla = (1,2,3,4,5,6)

In [38]:
tupla

(1, 2, 3, 4, 5, 6)

In [41]:
tuple(dicionario)

('id', 'Nome', 'Salario', 'SObrenome')

In [42]:
lista = [10,2,34,6]

In [43]:
for valor in lista :
    print(valor)

10
2
34
6

In [61]:
num = 17

In [65]:
while num < 10:
    num += 1
    print('num < 10')

In [72]:
idade = 17

In [77]:
if idade < 10:
    print('eh uma criança')
elif idade < 18:
    print('menor de idade')
else:
    print('maior de idade')

eh uma criança

In [79]:
lista  = [1,2,3,4,5]
for numero in lista:
    print(numero * 2)

2
4
6
8
10

In [83]:
def multiple_por_2(lista):
    for numero in lista:
        print(numero * 2)

In [85]:
multiple_por_2(lista)

2
4
6
8
10

In [91]:
def multiple(lista):
    nova_lista = []
    for numero in lista:
        nova_lista.append(numero * 2)
    return nova_lista

In [92]:
nova_lista = multiple(lista)

In [93]:
print(nova_lista)

[2, 4, 6, 8, 10]